
/* -------------------------------- Balloon --------------------------------------------------- */

h1{
  text-align: center;
}

.mainDiv{
  height: 600px;
  width: 90%;
  margin: auto;
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
  /* border:  3px solid black; */
}

.left{
  margin-top: 10%;
  height: 70%;
  width: 25%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 5px;
  border:  3px solid rgb(10, 10, 10);
}

.left>div{
  height: 120px;
  width: 130px;
  margin-bottom: -50px;
  border-radius: 50%;
  border:  3px solid rgb(12, 12, 12);
}

.right{
  height: 100%;
  width: 10%;
}

.right>div{
  height: 18%;
  margin-bottom: 5%;
  border-radius: 50%;
  border:  3px solid rgb(12, 12, 12);
}

.input{
  margin-top: 15%;
  height: 30%;
  width: 25%;
}

.input>input{
  width: 100%;
  height: 40px;
  font-size: 18px;
  text-align: center;
}

.input>button{
  margin-left: 25%;
  margin-top: 5%;
  padding: 2% 15%;
  font-size: 18px;
}